body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.text {
  width: 320px;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  font-family:'Outfit', sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
}
.qr-text {
  width: 288px;
  padding: 24px 16px 8px 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 27.72px;
  color: #1f314f;
  text-align: center;
}

.pparagraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: center;
  color: #7d889e;
  letter-spacing: 0.1875px;
  padding: 8px 16px 24px 16px;
  font-style: normal;
}



